# **RandomUser API**

### Get Methods

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

In [57]:
# installing RandomUser API dependencies
!pip install randomuser

Requirement already satisfied: randomuser in c:\users\vitor marinho\anaconda3\lib\site-packages (1.6)

In [58]:
# importind libraries
from randomuser import RandomUser
import pandas as pd

In [59]:
# creating a RandomUser object, and then generating 10 random users
r = RandomUser()
user_list = ru.generate_users(10)
user_list

[<randomuser.RandomUser at 0x1d3d76f9950>,
 <randomuser.RandomUser at 0x1d3d76f9a90>,
 <randomuser.RandomUser at 0x1d3d76f8650>,
 <randomuser.RandomUser at 0x1d3d76f9f50>,
 <randomuser.RandomUser at 0x1d3d76f9e50>,
 <randomuser.RandomUser at 0x1d3d76fa3d0>,
 <randomuser.RandomUser at 0x1d3d76fa150>,
 <randomuser.RandomUser at 0x1d3d76fa550>,
 <randomuser.RandomUser at 0x1d3d76fae50>,
 <randomuser.RandomUser at 0x1d3d76f9550>]

In [60]:
# the "Get Methods" functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. 
# For example, to get full name, we call get_full_name() function.
name = r.get_full_name()
name

'Cynthia Deniz'

In [61]:
# Printing users full name and email from our user list
for user in user_list:
    print(user.get_full_name(), " ", user.get_email())

Emre Aybar   emre.aybar@example.com
Tanise da Rocha   tanise.darocha@example.com
Cameron Turner   cameron.turner@example.com
Aiden Hill   aiden.hill@example.com
Torgeir Rinde   torgeir.rinde@example.com
Cynthia Colin   cynthia.colin@example.com
Austin Elliott   austin.elliott@example.com
کیمیا قاسمی   khymy.qsmy@example.com
Ana Robin   ana.robin@example.com
Tia Langvik   tia.langvik@example.com

In [62]:
# Printing users pictures from our user list
for user in user_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/men/10.jpg
https://randomuser.me/api/portraits/women/69.jpg
https://randomuser.me/api/portraits/men/63.jpg
https://randomuser.me/api/portraits/men/59.jpg
https://randomuser.me/api/portraits/men/46.jpg
https://randomuser.me/api/portraits/women/11.jpg
https://randomuser.me/api/portraits/men/7.jpg
https://randomuser.me/api/portraits/women/49.jpg
https://randomuser.me/api/portraits/women/73.jpg
https://randomuser.me/api/portraits/women/24.jpg

In [63]:
# Writing a function to generate a table with 10 random users infos (name, gender, city, date of birth, etc.)

def get_user():
    
    users = list()
    for user in r.generate_users(10):
        users.append({'Name': user.get_full_name(),
                     'Gender': user.get_gender(),
                      'DOB': user.get_dob(),
                     'City': user.get_city(),
                     'State': user.get_state(),
                     'Email': user.get_email(),
                     'Picture': user.get_picture()})
        
    df = pd.DataFrame(users)
    df['DOB'] = pd.to_datetime(df['DOB']).dt.date
    df['Picture'] = df['Picture'].apply(lambda x: f'<a href="{x}" target="_blank">{x}</a>')
    
    return df.style.format({'Picture': lambda x: x})

get_user()

# **Fruityvice API**

In [64]:
# importing libraries
import requests
import json

In [65]:
# getting the fruityvice api data using requests.get('url') and verifying the content type
data = requests.get("https://web.archive.org/web/20240929211114/https://fruityvice.com/api/fruit/all")
data.headers['Content-Type']

'application/json'

In [66]:
# retrieving results through json
results = json.loads(data.text)
results

[{'name': 'Persimmon',
  'id': 52,
  'family': 'Ebenaceae',
  'order': 'Rosales',
  'genus': 'Diospyros',
  'nutritions': {'calories': 81,
   'fat': 0.0,
   'sugar': 18.0,
   'carbohydrates': 18.0,
   'protein': 0.0}},
 {'name': 'Strawberry',
  'id': 3,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Fragaria',
  'nutritions': {'calories': 29,
   'fat': 0.4,
   'sugar': 5.4,
   'carbohydrates': 5.5,
   'protein': 0.8}},
 {'name': 'Banana',
  'id': 1,
  'family': 'Musaceae',
  'order': 'Zingiberales',
  'genus': 'Musa',
  'nutritions': {'calories': 96,
   'fat': 0.2,
   'sugar': 17.2,
   'carbohydrates': 22.0,
   'protein': 1.0}},
 {'name': 'Tomato',
  'id': 5,
  'family': 'Solanaceae',
  'order': 'Solanales',
  'genus': 'Solanum',
  'nutritions': {'calories': 74,
   'fat': 0.2,
   'sugar': 2.6,
   'carbohydrates': 3.9,
   'protein': 0.9}},
 {'name': 'Pear',
  'id': 4,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Pyrus',
  'nutritions': {'calories': 57,
   'fat': 0.1,
   'sugar': 10.0,
   'carbohydrates': 15.0,
   'protein': 0.4}},
 {'name': 'Durian',
  'id': 60,
  'family': 'Malvaceae',
  'order': 'Malvales',
  'genus': 'Durio',
  'nutritions': {'calories': 147,
   'fat': 5.3,
   'sugar': 6.75,
   'carbohydrates': 27.1,
   'protein': 1.5}},
 {'name': 'Blackberry',
  'id': 64,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Rubus',
  'nutritions': {'calories': 40,
   'fat': 0.4,
   'sugar': 4.5,
   'carbohydrates': 9.0,
   'protein': 1.3}},
 {'name': 'Lingonberry',
  'id': 65,
  'family': 'Ericaceae',
  'order': 'Ericales',
  'genus': 'Vaccinium',
  'nutritions': {'calories': 50,
   'fat': 0.34,
   'sugar': 5.74,
   'carbohydrates': 11.3,
   'protein': 0.75}},
 {'name': 'Kiwi',
  'id': 66,
  'family': 'Actinidiaceae',
  'order': 'Struthioniformes',
  'genus': 'Apteryx',
  'nutritions': {'calories': 61,
   'fat': 0.5,
   'sugar': 9.0,
   'carbohydrates': 15.0,
   'protein': 1.1}},
 {'name': 'Lychee',
  'id': 67,
  'family': 'Sapindaceae',
  'order': 'Sapindales',
  'genus': 'Litchi',
  'nutritions': {'calories': 66,
   'fat': 0.44,
   'sugar': 15.0,
   'carbohydrates': 17.0,
   'protein': 0.8}},
 {'name': 'Pineapple',
  'id': 10,
  'family': 'Bromeliaceae',
  'order': 'Poales',
  'genus': 'Ananas',
  'nutritions': {'calories': 50,
   'fat': 0.12,
   'sugar': 9.85,
   'carbohydrates': 13.12,
   'protein': 0.54}},
 {'name': 'Fig',
  'id': 68,
  'family': 'Moraceae',
  'order': 'Rosales',
  'genus': 'Ficus',
  'nutritions': {'calories': 74,
   'fat': 0.3,
   'sugar': 16.0,
   'carbohydrates': 19.0,
   'protein': 0.8}},
 {'name': 'Gooseberry',
  'id': 69,
  'family': 'Grossulariaceae',
  'order': 'Saxifragales',
  'genus': 'Ribes',
  'nutritions': {'calories': 44,
   'fat': 0.6,
   'sugar': 0.0,
   'carbohydrates': 10.0,
   'protein': 0.9}},
 {'name': 'Passionfruit',
  'id': 70,
  'family': 'Passifloraceae',
  'order': 'Malpighiales',
  'genus': 'Passiflora',
  'nutritions': {'calories': 97,
   'fat': 0.7,
   'sugar': 11.2,
   'carbohydrates': 22.4,
   'protein': 2.2}},
 {'name': 'Plum',
  'id': 71,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Prunus',
  'nutritions': {'calories': 46,
   'fat': 0.28,
   'sugar': 9.92,
   'carbohydrates': 11.4,
   'protein': 0.7}},
 {'name': 'Orange',
  'id': 2,
  'family': 'Rutaceae',
  'order': 'Sapindales',
  'genus': 'Citrus',
  'nutritions': {'calories': 43,
   'fat': 0.2,
   'sugar': 8.2,
   'carbohydrates': 8.3,
   'protein': 1.0}},
 {'name': 'GreenApple',
  'id': 72,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Malus',
  'nutritions': {'calories': 21,
   'fat': 0.1,
   'sugar': 6.4,
   'carbohydrates': 3.1,
   'protein': 0.4}},
 {'name': 'Raspberry',
  'id': 23,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Rubus',
  'nutritions': {'calories': 53,
   'fat': 0.7,
   'sugar': 4.4,
   'carbohydrates': 12.0,
   'protein': 1.2}},
 {'name': 'Watermelon',
  'id': 25,
  'family': 'Cucurbitaceae',
  'order': 'Cucurbitales',
  'genus': 'Citrullus',
  'nutritions': {'calories': 30,
   'fat': 0.2,
   'sugar': 6.0,
   'carbohydrates': 8.0,
   'protein': 0.6}},
 {'name': 'Lemon',
  'id': 26,
  'family': 'Rutaceae',
  'order': 'Sapindales',
  'genus': 'Citrus',
  'nutritions': {'calories': 29,
   'fat': 0.3,
   'sugar': 2.5,
   'carbohydrates': 9.0,
   'protein': 1.1}},
 {'name': 'Mango',
  'id': 27,
  'family': 'Anacardiaceae',
  'order': 'Sapindales',
  'genus': 'Mangifera',
  'nutritions': {'calories': 60,
   'fat': 0.38,
   'sugar': 13.7,
   'carbohydrates': 15.0,
   'protein': 0.82}},
 {'name': 'Blueberry',
  'id': 33,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Fragaria',
  'nutritions': {'calories': 29,
   'fat': 0.4,
   'sugar': 5.4,
   'carbohydrates': 5.5,
   'protein': 0.0}},
 {'name': 'Apple',
  'id': 6,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Malus',
  'nutritions': {'calories': 52,
   'fat': 0.4,
   'sugar': 10.3,
   'carbohydrates': 11.4,
   'protein': 0.3}},
 {'name': 'Guava',
  'id': 37,
  'family': 'Myrtaceae',
  'order': 'Myrtales',
  'genus': 'Psidium',
  'nutritions': {'calories': 68,
   'fat': 1.0,
   'sugar': 9.0,
   'carbohydrates': 14.0,
   'protein': 2.6}},
 {'name': 'Apricot',
  'id': 35,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Prunus',
  'nutritions': {'calories': 15,
   'fat': 0.1,
   'sugar': 3.2,
   'carbohydrates': 3.9,
   'protein': 0.5}},
 {'name': 'Melon',
  'id': 41,
  'family': 'Cucurbitaceae',
  'order': 'Cucurbitaceae',
  'genus': 'Cucumis',
  'nutritions': {'calories': 34,
   'fat': 0.0,
   'sugar': 8.0,
   'carbohydrates': 8.0,
   'protein': 0.0}},
 {'name': 'Tangerine',
  'id': 77,
  'family': 'Rutaceae',
  'order': 'Sapindales',
  'genus': 'Citrus',
  'nutritions': {'calories': 45,
   'fat': 0.4,
   'sugar': 9.1,
   'carbohydrates': 8.3,
   'protein': 0.0}},
 {'name': 'Pitahaya',
  'id': 78,
  'family': 'Cactaceae',
  'order': 'Caryophyllales',
  'genus': 'Cactaceae',
  'nutritions': {'calories': 36,
   'fat': 0.4,
   'sugar': 3.0,
   'carbohydrates': 7.0,
   'protein': 1.0}},
 {'name': 'Lime',
  'id': 44,
  'family': 'Rutaceae',
  'order': 'Sapindales',
  'genus': 'Citrus',
  'nutritions': {'calories': 25,
   'fat': 0.1,
   'sugar': 1.7,
   'carbohydrates': 8.4,
   'protein': 0.3}},
 {'name': 'Pomegranate',
  'id': 79,
  'family': 'Lythraceae',
  'order': 'Myrtales',
  'genus': 'Punica',
  'nutritions': {'calories': 83,
   'fat': 1.2,
   'sugar': 13.7,
   'carbohydrates': 18.7,
   'protein': 1.7}},
 {'name': 'Dragonfruit',
  'id': 80,
  'family': 'Cactaceae',
  'order': 'Caryophyllales',
  'genus': 'Selenicereus',
  'nutritions': {'calories': 60,
   'fat': 1.5,
   'sugar': 8.0,
   'carbohydrates': 9.0,
   'protein': 9.0}},
 {'name': 'Grape',
  'id': 81,
  'family': 'Vitaceae',
  'order': 'Vitales',
  'genus': 'Vitis',
  'nutritions': {'calories': 69,
   'fat': 0.16,
   'sugar': 16.0,
   'carbohydrates': 18.1,
   'protein': 0.72}},
 {'name': 'Morus',
  'id': 82,
  'family': 'Moraceae',
  'order': 'Rosales',
  'genus': 'Morus',
  'nutritions': {'calories': 43,
   'fat': 0.39,
   'sugar': 8.1,
   'carbohydrates': 9.8,
   'protein': 1.44}},
 {'name': 'Feijoa',
  'id': 76,
  'family': 'Myrtaceae',
  'order': 'Myrtoideae',
  'genus': 'Sellowiana',
  'nutritions': {'calories': 44,
   'fat': 0.4,
   'sugar': 3.0,
   'carbohydrates': 8.0,
   'protein': 0.6}},
 {'name': 'Avocado',
  'id': 84,
  'family': 'Lauraceae',
  'order': 'Laurales',
  'genus': 'Persea',
  'nutritions': {'calories': 160,
   'fat': 14.66,
   'sugar': 0.66,
   'carbohydrates': 8.53,
   'protein': 2.0}},
 {'name': 'Kiwifruit',
  'id': 85,
  'family': 'Actinidiaceae',
  'order': 'Ericales',
  'genus': 'Actinidia',
  'nutritions': {'calories': 61,
   'fat': 0.5,
   'sugar': 8.9,
   'carbohydrates': 14.6,
   'protein': 1.14}},
 {'name': 'Cranberry',
  'id': 87,
  'family': 'Ericaceae',
  'order': 'Ericales',
  'genus': 'Vaccinium',
  'nutritions': {'calories': 46,
   'fat': 0.1,
   'sugar': 4.0,
   'carbohydrates': 12.2,
   'protein': 0.4}},
 {'name': 'Cherry',
  'id': 9,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Prunus',
  'nutritions': {'calories': 50,
   'fat': 0.3,
   'sugar': 8.0,
   'carbohydrates': 12.0,
   'protein': 1.0}},
 {'name': 'Peach',
  'id': 86,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Prunus',
  'nutritions': {'calories': 39,
   'fat': 0.25,
   'sugar': 8.4,
   'carbohydrates': 9.5,
   'protein': 0.9}},
 {'name': 'Jackfruit',
  'id': 94,
  'family': 'Moraceae',
  'order': 'Rosales',
  'genus': 'Artocarpus',
  'nutritions': {'calories': 95,
   'fat': 0.0,
   'sugar': 19.1,
   'carbohydrates': 23.2,
   'protein': 1.72}},
 {'name': 'Horned Melon',
  'id': 95,
  'family': 'Cucurbitaceae',
  'order': 'Cucurbitales',
  'genus': 'Cucumis',
  'nutritions': {'calories': 44,
   'fat': 1.26,
   'sugar': 0.5,
   'carbohydrates': 7.56,
   'protein': 1.78}},
 {'name': 'Hazelnut',
  'id': 96,
  'family': 'Betulaceae',
  'order': 'Fagales',
  'genus': 'Corylus',
  'nutritions': {'calories': 628,
   'fat': 61.0,
   'sugar': 4.3,
   'carbohydrates': 17.0,
   'protein': 15.0}},
 {'name': 'Pomelo',
  'id': 98,
  'family': 'Rutaceae',
  'order': 'Sapindales',
  'genus': 'Citrus',
  'nutritions': {'calories': 37,
   'fat': 0.0,
   'sugar': 8.5,
   'carbohydrates': 9.67,
   'protein': 0.82}},
 {'name': 'Mangosteen',
  'id': 99,
  'family': 'Clusiaceae',
  'order': 'Malpighiales',
  'genus': 'Garcinia',
  'nutritions': {'calories': 73,
   'fat': 0.58,
   'sugar': 16.11,
   'carbohydrates': 17.91,
   'protein': 0.41}},
 {'name': 'Pumpkin',
  'id': 100,
  'family': 'Cucurbitaceae',
  'order': 'Cucurbitales',
  'genus': 'Cucurbita',
  'nutritions': {'calories': 25,
   'fat': 0.3,
   'sugar': 3.3,
   'carbohydrates': 4.6,
   'protein': 1.1}},
 {'name': 'Japanese Persimmon',
  'id': 101,
  'family': ' Ebenaceae',
  'order': ' Ericales',
  'genus': 'Diospyros',
  'nutritions': {'calories': 70,
   'fat': 0.2,
   'sugar': 13.0,
   'carbohydrates': 19.0,
   'protein': 0.6}},
 {'name': 'Papaya',
  'id': 42,
  'family': 'Caricaceae',
  'order': 'Brassicales',
  'genus': 'Carica',
  'nutritions': {'calories': 39,
   'fat': 0.3,
   'sugar': 4.4,
   'carbohydrates': 5.8,
   'protein': 0.5}},
 {'name': 'Annona',
  'id': 103,
  'family': 'Annonaceae',
  'order': 'Rosales',
  'genus': 'Annonas',
  'nutritions': {'calories': 92,
   'fat': 0.29,
   'sugar': 3.4,
   'carbohydrates': 19.1,
   'protein': 1.5}},
 {'name': 'Ceylon Gooseberry',
  'id': 104,
  'family': 'Salicaceae',
  'order': 'Malpighiales',
  'genus': 'Dovyalis',
  'nutritions': {'calories': 47,
   'fat': 0.3,
   'sugar': 8.1,
   'carbohydrates': 9.6,
   'protein': 1.2}}]

In [101]:
# dataframing the results
df2 = pd.DataFrame(results)
df2.head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

In [100]:
# the result is in a nested json format. 
# the 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized
df2 = pd.json_normalize(results)
df2.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

In [73]:
# let's see if we can extract some information from this dataframe just for fun
cherry = df2.loc[df2['name'] == 'Cherry']
cherry

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
37,Cherry,9,Rosaceae,Rosales,Prunus,50,0.3,8.0,12.0,1.0

In [84]:
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

In [85]:
# let's do another one, let's find out how many calories are in a banana
banana = df2.loc[df2['name'] == 'Banana']
banana

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0

In [91]:
(banana.iloc[0]['nutritions.calories'])

np.int64(96)

# **Official Joke API**

In [95]:
# this api returns random jokes from a db
data2 = requests.get('https://official-joke-api.appspot.com/jokes/ten')
data2.headers['Content-Type']

'application/json; charset=utf-8'

In [98]:
# retrieving results through json
results2 = json.loads(data2.text)
results2

[{'type': 'general',
  'setup': 'Why do bananas have to put on sunscreen before they go to the beach?',
  'punchline': 'Because they might peel!',
  'id': 340},
 {'type': 'general',
  'setup': "What's the difference between a guitar and a fish?",
  'punchline': 'You can tune a guitar but you can\'t "tuna"fish!',
  'id': 270},
 {'type': 'general',
  'setup': 'What did one ocean say to the other ocean?',
  'punchline': 'Nothing, they just waved.',
  'id': 425},
 {'type': 'general',
  'setup': 'What did the digital clock say to the grandfather clock?',
  'punchline': 'Look, no hands!',
  'id': 169},
 {'type': 'programming',
  'setup': "['hip', 'hip']",
  'punchline': '(hip hip array)',
  'id': 26},
 {'type': 'programming',
  'setup': 'Why did the developer go broke buying Bitcoin?',
  'punchline': "He kept calling it bytecoin and didn't get any.",
  'id': 413},
 {'type': 'general',
  'setup': 'Did you hear about the scientist who was lab partners with a pot of boiling water?',
  'punchline': 'He had a very esteemed colleague.',
  'id': 94},
 {'type': 'general',
  'setup': 'Why did the fireman wear red, white, and blue suspenders?',
  'punchline': 'To hold his pants up.',
  'id': 323},
 {'type': 'general',
  'setup': 'What do you get when you cross a chicken with a skunk?',
  'punchline': 'A fowl smell!',
  'id': 230},
 {'type': 'general',
  'setup': 'How do you make a tissue dance?',
  'punchline': 'You put a little boogie on it.',
  'id': 2}]

In [99]:
# dataframing the results
df3 = pd.DataFrame(results2)
df3

,type,setup,punchline,id
0,general,Why do bananas have to put on sunscreen before...,Because they might peel!,340
1,general,What's the difference between a guitar and a f...,"You can tune a guitar but you can't ""tuna""fish!",270
2,general,What did one ocean say to the other ocean?,"Nothing, they just waved.",425
3,general,What did the digital clock say to the grandfat...,"Look, no hands!",169
4,programming,"['hip', 'hip']",(hip hip array),26
5,programming,Why did the developer go broke buying Bitcoin?,He kept calling it bytecoin and didn't get any.,413
6,general,Did you hear about the scientist who was lab p...,He had a very esteemed colleague.,94
7,general,"Why did the fireman wear red, white, and blue ...",To hold his pants up.,323
8,general,What do you get when you cross a chicken with ...,A fowl smell!,230
9,general,How do you make a tissue dance?,You put a little boogie on it.,2

In [103]:
# let's drop the 'type' and 'id' columns so we can keep just the jokes
df3.drop(columns = ['type', 'id'], inplace= True)
df3

,setup,punchline
0,Why do bananas have to put on sunscreen before...,Because they might peel!
1,What's the difference between a guitar and a f...,"You can tune a guitar but you can't ""tuna""fish!"
2,What did one ocean say to the other ocean?,"Nothing, they just waved."
3,What did the digital clock say to the grandfat...,"Look, no hands!"
4,"['hip', 'hip']",(hip hip array)
5,Why did the developer go broke buying Bitcoin?,He kept calling it bytecoin and didn't get any.
6,Did you hear about the scientist who was lab p...,He had a very esteemed colleague.
7,"Why did the fireman wear red, white, and blue ...",To hold his pants up.
8,What do you get when you cross a chicken with ...,A fowl smell!
9,How do you make a tissue dance?,You put a little boogie on it.