# Relatorio de Analise 2

## Tipos de Imoveis

In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv("dados/aluguel.csv", sep = ";")
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [21]:
tipo_de_imovel = pd.DataFrame(dados["Tipo"])
type(tipo_de_imovel)

pandas.core.frame.DataFrame

In [31]:
tipo_de_imovel.drop_duplicates()

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [33]:
tipo_de_imovel.drop_duplicates(inplace = True)

In [40]:
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

## Organizando Vizualizacao

In [38]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [43]:
tipo_de_imovel.shape[0]

22

In [45]:
range(tipo_de_imovel.shape[0])

range(0, 22)

In [55]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel.index

RangeIndex(start=0, stop=22, step=1)

In [78]:
tipo_de_imovel.columns.name = "Indice"
tipo_de_imovel.index = ["Linha " + str(i+1) for i in range(tipo_de_imovel.shape[0])]
tipo_de_imovel

Indice                           Tipo
Linha 1                     Quitinete
Linha 2                          Casa
Linha 3       Conjunto Comercial/Sala
Linha 4                   Apartamento
Linha 5            Casa de Condomínio
Linha 6                Prédio Inteiro
Linha 7                          Flat
Linha 8                    Loja/Salão
Linha 9       Galpão/Depósito/Armazém
Linha 10               Casa Comercial
Linha 11                 Casa de Vila
Linha 12               Terreno Padrão
Linha 13                  Box/Garagem
Linha 14                         Loft
Linha 15  Loja Shopping/ Ct Comercial
Linha 16                      Chácara
Linha 17        Loteamento/Condomínio
Linha 18                        Sítio
Linha 19                Pousada/Chalé
Linha 20                       Studio
Linha 21                        Hotel
Linha 22                    Indústria